.ui.item {
  padding-right: 1em;
  display: inline;
}

.ui.list .list>.item>i.icon, .ui.list>.item>i.icon {
  float: right;
}

.todo-text {
  width: 95%;
}

.todo-list {
  margin: auto;
  width: 50%;
}
